@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Playwrite+AR:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-image: url('/bg-normal.png');
  background-size: cover;
  overflow: auto;
  scroll-behavior: smooth;
  height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

/* styles.css */
::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 5px;
}

/* Media query for small screens (phones, < 640px) */
@media (max-width: 639px) {
  html,
  body {
    background-image: url('/bg-mobile.png');
  }
}

/* Media query for medium screens (tablets, 640px to 1023px) */
@media (min-width: 640px) and (max-width: 1023px) {
  html,
  body {
    background-image: url('/bg-mobile.png');
  }
}

.navbar {
  position: fixed;
  height: 75px;
  width: 100%;
  z-index: 100; /* Pour s'assurer que la navbar reste au-dessus des autres éléments */
}

.snackbar {
  position: fixed;
  top: 120px;
  width: 750px;
  z-index: 100; /* Pour s'assurer que la navbar reste au-dessus des autres éléments */
}

@media (min-width: 768px) {
  /* Navbar en haut pour les grands écrans */
  .navbar {
    top: 0;
  }
}

@media (max-width: 767px) {
  /* Navbar en bas pour les petits écrans */
  .navbar {
    bottom: 0;
    margin-bottom: 1px;
  }
  .snackbar {
    width: 350px;
  }
}
