@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron:wght@400..900&family=Playwrite+AR:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-image: url('/bg-normal.png');
  background-size: cover;
  overflow: auto;
  scroll-behavior: smooth;
  height: 100vh;
}

/* Media query for small screens (phones, < 640px) */
@media (max-width: 639px) {
  html,
  body {
    background-image: url('/bg-mobile.png');
  }
}

/* Media query for medium screens (tablets, 640px to 1023px) */
@media (min-width: 640px) and (max-width: 1023px) {
  html,
  body {
    background-image: url('/bg-mobile.png');
  }
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000; /* Pour s'assurer que la navbar reste au-dessus des autres éléments */
}

@media (min-width: 768px) {
  /* Navbar en haut pour les grands écrans */
  .navbar {
    top: 0;
  }
}

@media (max-width: 767px) {
  /* Navbar en bas pour les petits écrans */
  .navbar {
    bottom: 0;
  }
}
